<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KomissarovNP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>952E8F0C25C5303100D2A554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>952E8F2225C5303200D2A554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>952E8F2D25C5303200D2A554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
